<h1>Listing records</h1>

<table>
  <thead>
    <tr>
      <th>Opponent name</th>
      <th>Opponent hero</th>
      <th>First</th>
      <th>Win</th>
      <th>Notes</th>
      <!-- <th>Deck</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.opponent_name %></td>
        <td><%= record.opponent_hero %></td>
        <td><%= record.first %></td>
        <td><%= record.win %></td>
        <td><%= record.notes %></td>
        <!-- <td><%= record.deck %></td> -->
        <td><%= link_to 'Show', [@deck, record] %></td>
        <td><%= link_to 'Edit', polymorphic_path([@deck, record], action: :edit) %></td>
        <td><%= link_to 'Destroy', [@deck, record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', polymorphic_path([@deck, Record], action: :new) %>
