<p id="notice"><%= notice %></p>

<p>
  <strong>Opponent name:</strong>
  <%= @record.opponent_name %>
</p>

<p>
  <strong>Opponent hero:</strong>
  <%= @record.opponent_hero %>
</p>

<p>
  <strong>First:</strong>
  <%= @record.first %>
</p>

<p>
  <strong>Win:</strong>
  <%= @record.win %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @record.notes %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @record.deck %>
</p>

<%= link_to 'Edit', polymorphic_path([@deck, @record], action: :edit) %> |
<%= link_to 'Back', [@deck, Record] %>
