<h1>Listing decks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= deck.name %></td>
        <td><%= deck.notes %></td>
        <td>
          <%= link_to 'Show', deck, class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Edit', polymorphic_path(deck, action: :edit), class: 'btn btn-default btn-sm' %>
          <%= link_to 'Destroy', deck, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deck', polymorphic_path(Deck, action: :new), class: 'btn btn-success' %>
