<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deck.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @deck.notes %>
</p>

<p>
  <strong><%= link_to 'Records', [@deck, Record] %></strong>
</p>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
